# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Environment
.env

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
